html, body{
	position: relative;
    height: 100%;
    margin: 0px;
}

body {
	background: white url(img/bg.jpg) no-repeat center top;
	background-size: auto 100%;
	background-attachment:fixed;
	overflow: hidden;
}

#page{
	height: 100%;
	position: relative;
}

.confrerie .score{
	font-size: 4em;
	color: #AAA;
	vertical-align: top;
}

.confrerie p{
	font-size: 6em;
	color: #AAA;
	vertical-align: top;
}

.confrerie{
	width: 30%;
	height: 39%;
	margin: 20px;
	padding: 15px;
	position: relative;
}

#alpha{
	background-color: rgb(99, 7, 8);
	float: left;
}

#epsilon{
	background-color: rgb(19, 19, 11);
	float: right;
	text-align: right;
}

#phi{
	background-color: rgb(15, 14, 30);
	float: left;
}

#omega{
	background-color: rgb(67, 95, 46);
	float: right;
	text-align: right;
}

.clear{
	clear: both;
}